body{
    margin:0;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% repeat(3,1fr);
    background-color:#ebdbc5;
}

div{
    margin:60px 0;
    padding: 30px;
    border-right: 3px solid #ca0c08;
    color: #ca0c08;
}


h3{
    margin: 0;
    font-size: 25.5vw;
    text-decoration: underline;
    text-decoration-thickness: 1%;
    }

.description{
    margin: 0;
    padding: 0;
    font-family: 'Trispace', sans-serif;
    font-size: medium;
    text-align: left;
}

a{
    text-decoration: none;
    color:#ca0c08;
}

a:hover{
    color:#fff;
}

.hover-1 {
    background: linear-gradient(#ca0c08 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0s;
  }
  .hover-1:hover {
    --p: 100%;
    color: #fff;
  }

  .grow { transition: all .4s ease-in-out; }
.grow:hover { transform: scale(1.3); }



